$blue: #0282f9;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0e0e0e;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
} 

ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}